@import "./globalStyles";


.alert {
    width: fit-content;
    padding: 20px*$vw;
    border-radius: 10px*$vw;
    background-color: #171C2C;
    box-shadow: 4px*$vw 4px*$vw 10px*$vw 0px*$vw #171c2c;
    color: #FFF;
    font-size: 20px*$vw;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    bottom: 50px*$vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 1301;
}
.show_alert {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 500px) {
    .alert {
        padding: 10px*$TELvw;
        border-radius: 10px*$TELvw;
        box-shadow: 0px*$TELvw 0px*$TELvw 12px*$TELvw 0px*$TELvw #171c2ca3;
        font-size: 15px*$TELvw;
        bottom: 42px*$TELvw;
        white-space: nowrap;
    }
}